// Colors
$primary: #FFF337;
$primary-dark: #e7da1d;
$dark: #000000;
$white: #FFFFFF;
$white-darken: #FAFAFA;

// Font family
$font-primary: 'Inter', sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// Font Sizes
$xs: 1.8rem;
$sm: 2rem;
$m: 3rem;
$xl: 4.5rem;
$xxl: 5rem;

// Shadow
$shadow1: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow2: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);

// Border
$radius: 5rem;

// Media
$sm-screen: 800px; 